/*delete this to have all styling in the same file*/

/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&family=Raleway:wght@100;200;300;400;500;600&display=swap');

*{
    font-family: 'Raleway', sans-serif;
}
html, body {
    margin:0;
    padding:0;
}

.primary-button{
    color:#fff;
    font-size: 17px;
    background: linear-gradient(to bottom, #a69064,#f1e1bf, #b9a273, #a69064, #8d784e);
    background-image: linear-gradient(to bottom, #c1b193, #a69064);
    background: linear-gradient(to bottom, #f1e1bf, #b9a273, #a69064);
    padding:10px 28px;
    border-color: white;


}

.primary-button:hover{
    background-color: #20c997;
    background: linear-gradient(to bottom, #d2f4ea, #79dfc1, #20c997);
}

body{text-align: center;
}

/*********** Navbar **********/

nav{
    width:100%;
    display:flex;
    justify-content: space-between;
}

/*everything thats named logo container in the nav */
nav .logo-container{
    width:170px;
    margin: 15px;

}

nav .logo-container .logo{
    width:100%;
}

nav .nav-button{
    color: #f1e1bf;
    background-color:#a69064;
    font-size: 16px;
    padding:10px 20px;
    /*top botton, side side*/
    padding:0px 10px;
    border-radius: 10px;
    border: none;
    margin:10px;
}


/*********** Home page ******/

.overlay{
    width:100vw;
    height: 100vw;
    position: fixed;
    /*background: linear-gradient(
    to bottom,
    rgba(0,0,0,0.65) 0%,
    rgba(0,0,0,0) 100%
    );*/
    background: linear-gradient(to bottom, #a69064,#f1e1bf, #b9a273, #a69064, #8d784e);

}

/************ Home page  ***********/

.auth-modal{
 postion: absolute;
    top: 175px;
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;
    height: 600px;
    background-color:white;
    border-radius:10px;
    padding: 40px;
    cursor:pointer;


}