/*delete this to have all styling in the same file*/

/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&family=Raleway:wght@100;200;300;400;500;600&display=swap');

*{
    font-family: 'Raleway', sans-serif;
}
html, body {
    margin:0;
    padding:0;
    text-align: center;
}

/*"Find your match"*/
.primary-title{
    font-size: 50px;
    color: #f1e1bf;
    color: #b9a273;
    color: #f1e1bf;
    color: white;
    color:#a69064;
    color: #604d26;
    color: white;
}

.primary-button{
    color:#fff;
    font-size: 17px;
    background: linear-gradient(to bottom, #a69064,#f1e1bf, #b9a273, #a69064, #8d784e);
    background-image: linear-gradient(to bottom, #c1b193, #a69064);
    background: linear-gradient(to bottom, #f1e1bf, #b9a273, #a69064);
    padding:10px 28px;
    border-color: white;
}

.primary-button:hover{
    background-color: #20c997;
    background: linear-gradient(to bottom, #d2f4ea, #79dfc1, #20c997);
}

.secondary-button{
    color:#f1e1bf;
    background-color: #b6a177;
    font-weight: 500;
    font-size: 15px;
    padding:12px 30px;
    padding:6px 16px;
    border-radius: 30px;
    border: solid 2px #b6a177;
    margin: 8px;

}
.secondary-button:hover {
    background-color: #9f895d;
    border: 2px solid #9f895d;
}


/*********** Navbar **********/

nav{
    width:100%;
    display:flex;
    justify-content: space-between;
}

/*everything thats named logo container in the nav */
nav .logo-container{
    width:170px;
    margin: 15px;

}

nav .logo-container .logo{
    width:100%;
}

nav .nav-button{
    color: #f6e9ce;
    /*background-color:#a69064;*/
    background-image: linear-gradient(to bottom, #c1b193, #a69064, #937b4d);
    font-size: 16px;
    padding:10px 20px;
    /*top botton, side side*/
    padding:0px 10px;
    border-radius: 10px;
    /*border: none;*/
    border:1px solid #d0bd95;
    margin:10px;
}

nav .nav-button:disabled{
    color: #d0bd95;
    background-color: #988053;
}

/*********** Home page ******/

.overlay{
    width:100vw;
    height: 100vw;
    position: fixed;
    /*background: linear-gradient(
    to bottom,
    rgba(0,0,0,0.65) 0%,
    rgba(0,0,0,0) 100%
    );*/
    background: linear-gradient(to bottom, #a69064,#f1e1bf, #b9a273,
    #a69064, #8d784e), url('images/red-heart3.png');
    background: linear-gradient(to bottom, rgba(166, 144, 100, 0.8), rgba(241, 225, 191, 0.78), rgba(185, 162, 115, 0.8),
    rgba(166, 144, 100, 0.82), rgba(141, 120, 78, 0.81)), url('images/red-heart3.png');
    background: linear-gradient(to bottom, #a69064,#f1e1bf, #b9a273,
    #a69064, #8d784e), url('images/red-heart3.png');
    background: linear-gradient(to bottom, #a69064,#f1e1bf, #b9a273,
    #a69064, #8d784e);
}
.home{
    margin-top:30vh;
}
/************ Home page  ***********/

.auth-modal{
 postion: absolute;
    left:0;
    right:0;
    top: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;
    height: 600px;
    background-color:white;
    border-radius:10px;
    padding: 40px;
    cursor:pointer;
}
.auth-modal .close-icon{
    float:right;

}

.auth-modal form{
    display: flex;
    flex-direction: column;
}

.auth-modal input[type=password],
.auth-modal input[type=email]{
    padding: 6px;
    margin:7px;
    font-size: 15px;
}

/************ Onboarding  ****************/

.onboarding{
    border-top: 1px solid #dcc9a6;
}

.onboarding form{
    display: flex;
    justify-content: center;
}

.onboarding form section{
    display: flex;
    flex-direction:column;
    padding:20px;
    width:35%;
    text-align: start;

}

.onboarding form input{
    padding:15px 30px;
    padding:10px 15px;
    padding:15px 30px;
    padding:10px 20px;
    margin: 10px 0;
    font-size: 14px;
    border: solid 1px #736e62;
    border-radius: 6px;

}

.onboarding form input::-webkit-outer-spin-button,
.onboarding form input::-webkit-inner-spin-button
{
-webkit-appearance: none;
    margin:0;
}

.onboarding form label{
    margin:6px 0px;

}

.onboarding form .multiple-input-container{
    display:flex;
    flex-direction: row;
}

.onboarding form .multiple-input-container input{
 margin-right:10px;
}

.onboarding form .multiple-input-container label{
    padding:10px;
    border:solid 1px #8a867c;
    border-radius: 6px;
    transition: all .5s;
    margin-right: 10px;
}

.onboarding form input[type="radio"]{
    display:none;
}

.onboarding form input[type="number"]{
    width:10%
}

.onboarding form input[type="radio"]:checked +label{
    border: solid 2px rgba(199, 89, 161, 0.7);
    border: solid 1px #79dfc1;

}

.onboarding form input[type="submit"]:hover{
    background-color: red;
}

.onboarding form input[type="submit"]:active{
    background-color: green;
}

.onboarding form .photo-container{
    width:80%;

}



/***** Dashboard *******/

.dashboard{
    display:flex;
    justify-content: space-between;
}


.dashboard .swipe-container {
    width: 70%;
    display:flex;
   flex-direction:column;
    justify-content: center;
    align-items: center;
    height:100vh;
}


.swipe {
    position: absolute;
}

.dashboard .card-container{
    width:400px;
    height: 650px;
}

/*
.dashboard .card-container {
    width: 400px;
    height: 650px;
}*/

.card {
    width: 400px;
    height:650px;
    box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
    border-radius: 30px;
    background-size:cover;
    background-position:center;
    /*width: 400px;
    height: 650px;
    border-radius: 30px;
    background-size: cover;
    background-position: center;*/
}



.card h3 {
   margin-top:0;
    /* position: absolute;
    bottom: 0;
    margin:10px;
    color:white;*/
    /*margin-top: 0;*/
}

.dashboard .swipe-info{
    position:absolute;
    bottom:0;
    padding:10px;
}


/********* Chat Container ******/